In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult.data.csv')

In [10]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
pd.value_counts(data['race'])

White                 162
Black                  27
Asian-Pac-Islander      8
Amer-Indian-Eskimo      1
Other                   1
Name: race, dtype: int64

In [9]:
data_male = data[data['sex'] == 'Male']
data_male['age'].mean()

38.381294964028775

In [63]:
perc_of_education = data['education'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
perc_of_education

HS-grad         28.6%
Some-college    23.6%
Bachelors       17.1%
Masters          7.0%
Assoc-acdm       4.5%
Assoc-voc        4.5%
11th             4.0%
9th              2.5%
Doctorate        2.5%
7th-8th          2.0%
Prof-school      1.0%
5th-6th          1.0%
10th             1.0%
1st-4th          0.5%
Name: education, dtype: object

In [64]:
new_data = data[data['salary'] == '>50K']
res = new_data['education'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
res

Bachelors       23.4%
Some-college    21.3%
HS-grad         14.9%
Masters         14.9%
Doctorate       10.6%
Assoc-voc        6.4%
Prof-school      4.3%
Assoc-acdm       2.1%
7th-8th          2.1%
Name: education, dtype: object

In [75]:
country_count = data[data['salary'] == '>50K']
result = country_count.value_counts(data['native-country'])
result

native-country
United-States    39
?                 2
Canada            1
Honduras          1
India             1
Iran              1
Mexico            1
South             1
dtype: int64

In [82]:
usa_df = data[data['native-country'] == 'United-States']
usa_big_salary = usa_df[usa_df['salary'] == '>50K']
usa_occupations = usa_big_salary.value_counts(usa_big_salary['occupation'])
usa_occupations

occupation
Prof-specialty     12
Exec-managerial    11
Craft-repair        4
Sales               4
Adm-clerical        3
Protective-serv     2
Tech-support        2
?                   1
dtype: int64